.myTable {
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
  }
  
  .myTable td {
    height: 1.2em;
    border-collapse: collapse;
    border: 1px solid rgb(143, 143, 143);
    width: 9%;
  }
  .tableHeader {
    font-weight: 600;
  }
  .columThree {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .colOne {
    text-align: right;
    font-weight: 500;
    padding: 0 5px;
    white-space: nowrap;
  }
  
  .secondRow td {
    width: 4%;
  }
  