.listWrapper {
  max-width: 100vw;
  border: 1px solid #ccc;
  padding: 10px 20px 20px 20px;
  width: 60vw;
}
.reloadBtnWrapper {
  display: flex;

  margin: 0;
  margin-bottom: 4px;
}
.reloadBtn {
  float: right;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.noFiles {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #6f1414;
  font-weight: 600;
  min-height: 50vh;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

@media (max-width: 768px) {
  /* Adjust this breakpoint as per your requirements */
  .container {
    flex-direction: column;
    align-items: center; /* This centers items vertically in the column direction */
  }
  .listWrapper {
    width: 90vw;
  }
}

.linkStyle {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  gap: 3px;
}

.linkStyle:hover {
  color: #9e0000;
  font-weight: 600;
  text-decoration: underline;
}

/* .linkStyle:visited {
  color: #de0303;
  text-decoration: underline;
} */

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.pagination button {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination span {
  font-size: 16px;
}

.pagination input[type="number"] {
  padding: 8px 12px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  width: 80px;
  margin-right: 2px;
}

.pagination button.go-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #9e0000;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.go-btn:hover {
  background-color: #ff0000;
}
