.wrapper {
    border: 2px solid black;
  }
  .wrapper2 {
    margin-top: 10px;
    border: 2px solid black;
  }

  .wrapper3 {

    border: 2px solid black;
  }
  .title {
    margin-top: 10px;
    font-weight: 600;
    text-decoration: underline;
  }

  .title2 {
    margin: 5px;
    font-weight: 550;
    text-decoration: underline;
  }

  .myList {
    margin: 0;
    padding: 10px;
    list-style-type: none;
  }
  .myList li{
    font-weight: 550;
  }
  .subList{
    
    padding: 10px 0 10px 10px;
    font-size: 0.85em;
  }

  .isRed{
    color: red !important;
  }