.wrapper {
  margin: 10px 0 100px 0;
}

.signatureFont {
  font-family: "Brush Script MT", sans-serif;
  font-size: 1.5em;
  text-align: center;
}
.officeName{
    font-size: 1.2em;
    text-align: center;
    font-weight: 550;
}

.underName {
  text-align: center;
  border-top: 2px solid black;
  font-size: 0.86em;
}
.nameBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


