.myTable{
    border:  2px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
  .myTable tr td{
    border-bottom:  1px solid black;
    padding: 0 10px; 
  }
  
  .title{
    font-weight: 600;
  }

  .isRed{
    color: red;
  }