.myTable {
  text-align: center;
  border-collapse: collapse;
  border: 2px solid black;
  font-size: 0.7em;
}

.myTable td {
  height: 1.2em;
  border-collapse: collapse;
  border: 1px solid rgb(143, 143, 143);
}
.tableHeader {
  font-weight: 600;
  font-size: 0.9em;
}
.columThree {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.colOne {
  font-size: 0.9em;
  text-align: right;
  font-weight: 500;
  padding: 0 5px;
  white-space: nowrap;
}

.secondRow td {
  width: 4%;
}
.commentBox {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
}

.inlineFlex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.unselected {
  margin: 2px;
  width: 20px;
  height: 20px;
  position: relative;
  border: 1px solid #000; /* Adjust border properties as needed */
}

.selected {
  margin: 2px;
  width: 20px;
  height: 20px;
  position: relative;
  border: 1px solid #000; /* Adjust border properties as needed */
}

.selected::before {
  content: "✕"; /* You can use 'X' or any other symbol */
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px; /* Adjust font size as needed */
  color: #000; /* Adjust color as needed */
}
