.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1000; /* Ensure the backdrop stays above other elements */
}

.errorWindow {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  z-index: 1001; /* Ensure the error window stays above the backdrop */
}

.errorWindow p {
  font-size: 1.2em;
  margin-bottom: 16px;
}

.errorDescription {
  width: 100%;
  height: 100px;
  margin-top: 5px;
}

.title {
  font-size: 1.5em;
  margin-bottom: 16px;
  font-weight: 550;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.cancel {
  margin: 0 10px;
  padding: 10px;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: #9e0000;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.submit {
  margin: 0 10px;
  padding: 10px;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: #2c3e50;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit:hover {
  background-color: #067bf0;
}
.cancel:hover {
  background-color: #ff0000;
}

.formField {
  padding: 10px;
}
.reportButton {
  z-index: 99;
  opacity: 0.6;
  position: fixed;
  top: 80px;
  right: 50px;
  display: flex;
  align-items: center;
  ;
  gap: 3.4px;

  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: normal;
  padding: 2px 24px;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 155px;
  will-change: transform, opacity;
}
.reportButton:hover {
  background: #f6f9fe;
  color: #174ea6;
  
  opacity: 1;
}
